# DirectoryIndex pdo.php

Options +FollowSymLinks -MultiViews

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^admin$ index.php [L,QSA,NC]
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
    
</IfModule>
