   <?php


   // DATABASE INFO
   // ----------------------------
   define("DB_HOST", "xxx");
   define("DB_USER", "xxx");
   define("DB_PASSWORD", "xxx");
   define("DB_DB", "xxx");
   define("DB_PORT", "3306");
